langchain
python-dotenv
ipykernel
tiktoken
langgraph
langchain_community
pypdf
wikipedia
langchain-text-splitters
pypdf
bs4
langchain-google-genai
google-generativeai
langchain-cohere
faiss-cpu
streamlit
langchain-groq
langserve
wikipedia
langchainhub
duckduckgo-search