langchain
python-dotenv
langgraph
langchain_community
pypdf
wikipedia
langchain-text-splitters
pypdf
bs4
langchain-google-genai
google-generativeai
langchain-cohere
sentence-transformers
langchain-huggingface
langchain-chroma
chromadb
faiss-cpu
streamlit
langchain-groq
langserve
wikipedia
langchainhub
duckduckgo-search
huggingface_hub